@page "/products/update/{id}"
@model ProductsDBApp.Pages.Products.UpdateModel
@{
    ViewData["Title"] = "Update product";
}
<h1> Modify product</h1>
<div class="container-sm bg-dark p-2">
    <form method="post">
        <div class="input-group">
            <label for="name" class="input-group-text">Name</label>
            <input type="text" class="form-control" id="name" name="name" value="@Model.UpdateDTO.Name" />
        </div>
        <div class="input-group">
            <label for="description" class="input-group-text">Description</label>
            <input type="text" class="form-control" id="description" name="description" value="@Model.UpdateDTO.Description" />
        </div>
        <div class="input-group">
            <label for="price" class="input-group-text">Price</label>
            <input type="text" class="form-control" id="price" name="price" value="@Model.UpdateDTO.Price" />
        </div>
        <div class="input-group">
            <label for="quantity" class="input-group-text">Quantity in stock</label>
            <input type="text" class="form-control" id="quantity" name="quantity" value="@Model.UpdateDTO.Quantity" />
        </div>
        <input type="submit" class="btn btn-warning" value="Submit" />
    </form>
</div>
<div class="text-danger">
    @if (Model.ErrorList.Count > 0)
    {
        @foreach (var error in Model.ErrorList)
        {
            <p>@error.ToString()</p>
        }
    }
</div>
